<div>
    <div>
        <label for="NumberOfDiceInput">Number of dice</label>
        <input id="NumberOfDiceInput" type="number" min="1" @bind="NumberOfDice" />
    </div>
    <div>
        <label for="NumberOfSidesInput">Number of sides</label>
        <input id="NumberOfSidesInput" type="number" min="1" @bind="NumberOfSides" />
    </div>
    <div>
        <label>Dice display type</label>
        <select @bind="DiceConfigHelper.DiceDisplayType">
            @foreach (var diceDisplayType in Enum.GetValues<Enums.DiceDisplayType>())
            {
                <option value="@diceDisplayType">@diceDisplayType.ToString()</option>
            }
        </select>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="RollAll">Roll</button>
    </div>
    <h2>Roll total: @RollTotal</h2>
</div>
@if (DiceConfigHelper.DieModels.Count > 0)
{
    <div class="dice-container">
        @foreach (var dieModel in DiceConfigHelper.DieModels)
        {
            <DieComponent DieModel=dieModel />
        }
    </div>
}
